# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
*.lock

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS (not needed)
ios/

# Generated
*.g.dart
*.freezed.dart
lib/generated/

# OS
.DS_Store
Thumbs.db
